<div class="container align-items-center"> 
  <div class="d-flex">
    <h1 class="mb-3 mt-5" style="margin: 0 auto; padding: 20px">
      Add author
    </h1> 
  </div>
  <div class="d-flex justify-content-between align-items-center" style="margin: 0 auto; padding: 20px"> 
    <%= render 'form', author: @author %>
  </div>
</div>