<div class="d-flex justify-content-between w-50 align-items-center border-bottom" style="margin: 0 auto; padding: 20px"> 
    <%=link_to 'All books', books_path, class: 'btn btn-primary' %>
    <%=link_to 'All authors', home_path, class: 'btn btn-primary' %>
    <%=link_to 'Admin button', rails_admin_path, class: 'btn btn-secondary' %>
</div>
